<nav class="uk-navbar-container uk-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'お知らせ', articles_path %></li>
      <li><%= link_to '社員紹介', employees_path %></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      <li><a><%= "#{@current_user.last_name} #{@current_user.first_name}" %></a></li>
    </ul>
  </div>
</nav>